<form [formGroup]="searchForm" (ngSubmit)="searchImage(searchForm)">
  <label class="form-control" for="word">Enter the keyword to search</label>
  <input type="text"
        class="form-control"
        formControlName="word"
        id="word"
        pattern="[a-z][a-z][a-z][a-z]"
        />
  <div class="alert alert-danger" *ngIf="!word.valid && word.touched">
    <span *ngIf="word.hasError('required')">
        Please enter a keyword
    </span>

  </div>
  <br>
  &nbsp;<button class="btn btn-success">Search</button>
</form>
